# Data-Driven Decision Making in SQL

Here you can access every table used in the course. To access each table, you will need to specify the `movies` schema in your queries (e.g., `movies.movies` for the `movies` table, and `movies.customers` for the `customers` table).

In [3]:
-- check the tables in the table_schema='movies'
SELECT table_name, table_schema, table_type
FROM information_schema.tables
where table_schema = 'movies'
ORDER BY table_name ASC;

  table_name table_schema  table_type
0     actors       movies  BASE TABLE
1     actsin       movies  BASE TABLE
2  customers       movies  BASE TABLE
3     movies       movies  BASE TABLE
4    renting       movies  BASE TABLE

## Screen the tables and the columns

In [4]:
-- explore the tables
SELECT *
FROM movies.actors
LIMIT 5

   actor_id                name  year_of_birth nationality  gender
0         1       Abbie Cornish           1982   Australia  female
1         2        Adam Sandler           1966         USA    male
2         3           Al Pacino           1940         USA    male
3         4           Amy Adams           1974         USA  female
4         5  Andrea Riseborough           1981     British  female

In [5]:
select * 
from movies.movies
limit 5

   movie_id                       title  ... year_of_release  renting_price
0         1       One Night at McCool's  ...            2001           2.09
1         2                   Swordfish  ...            2001           2.19
2         3             What Women Want  ...            2001           2.59
3         4                Training Day  ...            2001           1.79
4         5  The Fellowship of the Ring  ...            2001           2.59

[5 rows x 6 columns]

In [6]:
select *
from movies.renting 
limit 5

   renting_id  customer_id  movie_id  rating              date_renting
0           1           41         8     NaN 2018-10-09 00:00:00+00:00
1           2           10        29    10.0 2017-03-01 00:00:00+00:00
2           3          108        45     4.0 2018-06-08 00:00:00+00:00
3           4           39        66     8.0 2018-10-22 00:00:00+00:00
4           5          104        15     7.0 2019-03-18 00:00:00+00:00

In [7]:
select *
from movies.customers
limit 5

   customer_id  ...        date_account_start
0            2  ... 2018-10-15 00:00:00+00:00
1            3  ... 2019-02-14 00:00:00+00:00
2            4  ... 2017-11-22 00:00:00+00:00
3            5  ... 2018-12-16 00:00:00+00:00
4            6  ... 2018-08-26 00:00:00+00:00

[5 rows x 6 columns]

In [8]:
select *
from movies.actsin
limit 5

   actsin_id  movie_id  actor_id
0          1        37         1
1          2        56         2
2          3        10         3
3          4        14         3
4          5        29         3

## Explore the renting table to see the number of renting records, number of distinct customer, and number of ratings

In [9]:
--renting table is the main table which store the renting data for the store
select 
count(*) as no_renting
, count(distinct customer_id) as unique_customer
, count(rating) as no_rating
from movies.renting

   no_renting  unique_customer  no_rating
0         578              116        328

## Average rating per movie
For each movie the average rating, the number of ratings and the number of views has to be reported
<br> Join movies table for the movie title

In [10]:
select
m.title
, avg(rating) as avg_rating
, count(rating) as no_rating
, count(*) as no_renting
from movies.renting as r
left join movies.movies as m
ON r.movie_id = m.movie_id
group by m.title
having  avg(rating) is not null   -- after grouping by title, remove the movies which do not have any avg_rating
order by avg_rating DESC          --check the highest rating movie

                         title  avg_rating  no_rating  no_renting
0                    Astro Boy   10.000000          2           5
1   The Fellowship of the Ring    9.750000          4           8
2       No Country for Old Men    9.600000          5          10
3             Django Unchained    9.333333          6          11
4              What Women Want    9.000000          2          11
..                         ...         ...        ...         ...
65                 The Recruit    6.500000          6          11
66        The Company You Keep    6.333333          3           7
67                The Invasion    6.000000          1           4
68               Brighton Rock    6.000000          2           5
69               Jack and Jill    5.666667          3           4

[70 rows x 4 columns]

## Average rating per customer
We will report these summary statistics only for customers with more than 7 movie rentals and order them in ascending order by the average rating.

In [11]:
select 
c.name
, avg(r.rating) as avg_rating
, count(r.rating) as no_rating
, count(*) as no_renting
from movies.renting as r
left join movies.customers as c
ON r.customer_id = c.customer_id
group by c.name
having count(*) >7
order by no_renting DESC

                        name  avg_rating  no_rating  no_renting
0       Lucy Centeno Barrios    7.000000          7          15
1           Avelaine Corbeil    7.333333          6          14
2             Havasy Kristof    7.625000          8          13
3            Sidney Généreux    6.714286          7          11
4        Canela Gaona Lozano    8.000000          6          11
5             Honorata Nowak    7.571429          7          11
6          Saúl Tafoya Meraz    8.000000          6          10
7              Marcel Sicard    8.400000          5          10
8            Fiacre Montminy    7.200000          5          10
9            Filippa Toscani    8.000000          7          10
10              Seima Andreč    8.714286          7          10
11   Quirina Alcaraz Sánchez    7.000000          3          10
12         Vittoria Bellucci    9.333333          3           9
13          Annie R. Barnett    8.750000          4           9
14             Harvey Jarvis    7.666667          6           9
15            Annelous Sneep    9.000000          4           9
16           Szepessi Marton    7.875000          8           9
17      Jaëla van den Dolder    9.250000          4           8
18                Ivi Boškan    8.400000          5           8
19  Dimitri Zambrano Morales    6.250000          4           8
20               Majdi Rozin    9.250000          4           8
21             Nella Manfrin    9.200000          5           8

                        name  avg_rating  no_rating  no_renting
0       Lucy Centeno Barrios    7.000000          7          15
1           Avelaine Corbeil    7.333333          6          14
2             Havasy Kristof    7.625000          8          13
3            Sidney Généreux    6.714286          7          11
4        Canela Gaona Lozano    8.000000          6          11
5             Honorata Nowak    7.571429          7          11
6          Saúl Tafoya Meraz    8.000000          6          10
7              Marcel Sicard    8.400000          5          10
8            Fiacre Montminy    7.200000          5          10
9            Filippa Toscani    8.000000          7          10
10              Seima Andreč    8.714286          7          10
11   Quirina Alcaraz Sánchez    7.000000          3          10
12         Vittoria Bellucci    9.333333          3           9
13          Annie R. Barnett    8.750000          4           9
14             Harvey Jarvis    7.666667          6           9
15            Annelous Sneep    9.000000          4           9
16           Szepessi Marton    7.875000          8           9
17      Jaëla van den Dolder    9.250000          4           8
18                Ivi Boškan    8.400000          5           8
19  Dimitri Zambrano Morales    6.250000          4           8
20               Majdi Rozin    9.250000          4           8
21             Nella Manfrin    9.200000          5           8

### Financial successes & User engagement
Report key performance indicators (KPIs) for the performance of the company in 2018.
<br>Financial successes and user engagement. 
<br>Important KPIs are, the profit coming from movie rentals, the number of movie rentals and the number of active customers.

In [13]:
--2018 where the profit comes from 
select 
m.title
, count(*) as no_renting
, sum(renting_price) as revenue
from movies.renting as r
left join movies.movies as m
on r.movie_id = m.movie_id
where r.date_renting between '2018-01-01' AND '2018-12-31'
group by m.title
order by revenue DESC

                                            title  no_renting  revenue
0              Bridget Jones - The Edge of Reason           9    26.01
1                                       Fair Game           7    20.23
2                               Two for the Money           6    16.74
3   Harry Potter and the Deathly Hallows – Part 1           6    16.74
4                                    Training Day           9    16.11
..                                            ...         ...      ...
66                                The Human Stain           2     3.98
67                                     Happy Feet           2     3.58
68                         Something's Gotta Give           2     3.38
69                                   The Invasion           1     2.09
70                                The Other Woman           1     1.69

[71 rows x 3 columns]

In [14]:
--select the top1 in 2018
with table2018 as(
select 
extract (year from r.date_renting) as year
, m.title
, count(*) as no_renting
, sum(renting_price) as revenue
from movies.renting as r
left join movies.movies as m
on r.movie_id = m.movie_id
where r.date_renting between '2018-01-01' AND '2018-12-31'
group by m.title, year)


select * from table2018
where revenue = (select Max(revenue) from table2018)

   year                               title  no_renting  revenue
0  2018  Bridget Jones - The Edge of Reason           9    26.01

In [15]:
--select the top1 in 2019 using other method
select 
title
, count(*) as no_renting
, sum(renting_price) as revenue
from movies.renting as r
left join movies.movies as m
on r.movie_id = m.movie_id
group by title
having sum(renting_price)=
    (select
    max(table2019.revenue)
    from
        (select 
            m.title
            , count(*) as no_renting
            , sum(renting_price) as revenue
            from movies.renting as r
            left join movies.movies as m
            on r.movie_id = m.movie_id
            where r.date_renting between '2019-01-01' AND '2019-12-31'
            group by m.title) as table2019)

       title  no_renting  revenue
0  Astro Boy           5    14.45

In [16]:
-- to see the yearly performance
select 
extract(year from date_renting) as year
, count(*) as no_renting
, sum(renting_price) as revenue
from movies.renting as r
left join movies.movies as m
on r.movie_id = m.movie_id
group by year
order by year

   year  no_renting  revenue
0  2017         121   263.19
1  2018         298   658.02
2  2019         159   354.51

## Explore the movies table

In [17]:
--see overall max, min avg renting price
select 
max(renting_price)
, min(renting_price)
, avg(renting_price)
from movies.movies

    max   min       avg
0  2.99  1.49  2.209718

In [18]:
select 
title
, renting_price
from movies.movies
where renting_price = (select max(renting_price) from movies.movies)

                    title  renting_price
0  11'09''01 September 11           2.99
1           Morning Glory           2.99

## Favorite actors
Who plays most often in movies watched by customers?
- Actor being watched most often
- best avg rating when being watched

In [19]:
-- Actors being watched most often
select 
a.gender
, a.name
, count(*) as number_views
from movies.renting as r
left join movies.actsin as ai
on r.movie_id = ai.movie_id
left join movies.actors as a
on ai.actor_id = a.actor_id
group by a.gender, a.name
order by count(*) DESC

     gender              name  number_views
0      male  Daniel Radcliffe            71
1    female       Emma Watson            71
2      male      Rupert Grint            71
3      male        Jamie Foxx            42
4    female        Helen Hunt            37
..      ...               ...           ...
140    male    Jeremy Northam             4
141  female      Katie Holmes             4
142    male       Liam Neeson             4
143    male       Scott Cohen             2
144  female       Lisa Kudrow             2

[145 rows x 3 columns]

In [20]:
--Actors being rat
select 
a.gender
, a.name
, avg(rating) as avg_rating
, count(*) as number_views
from movies.renting as r
left join movies.actsin as ai
on r.movie_id = ai.movie_id
left join movies.actors as a
on ai.actor_id = a.actor_id
group by a.gender, a.name
having avg(rating) is not null
order by avg_rating DESC

     gender                name  avg_rating  number_views
0    female        Kristen Bell   10.000000             5
1      male    Freddie Highmore   10.000000             5
2      male     Tommy Lee Jones    9.600000            10
3      male         Josh Brolin    9.600000            10
4      male       Javier Bardem    9.600000            10
..      ...                 ...         ...           ...
138    male      Jeremy Northam    6.000000             4
139  female  Andrea Riseborough    6.000000             5
140    male        Daniel Craig    6.000000             4
141  female        Katie Holmes    5.666667             4
142    male        Adam Sandler    5.666667             4

[143 rows x 4 columns]

## Identify favorite movies for a group of customers

In [21]:
select 
max(c.date_of_birth)
, min(c.date_of_birth)
from movies.renting as r
left join movies.customers as c
ON r.customer_id = c.customer_id

                        max                       min
0 1999-07-21 00:00:00+00:00 1970-01-10 00:00:00+00:00

In [22]:
--Select only those records of customers born in the 70s.
select
m.title
, count(*) as number_renting
, avg(r.rating) as average_rating
from movies.renting as r
left join movies.movies as m
on r.movie_id = m.movie_id
left join movies.customers as c
on r.customer_id = c.customer_id
where c.date_of_birth between '1970-01-01' AND '1979-12-31'
group by m.title
having count(*) >1
order by average_rating DESC

                                            title  ...  average_rating
0                                        Showtime  ...             NaN
1   Harry Potter and the Deathly Hallows – Part 2  ...             NaN
2                               Waking Up in Reno  ...             NaN
3                                             Ray  ...             NaN
4                                Django Unchained  ...       10.000000
5                                     The Fighter  ...       10.000000
6                           One Night at McCool's  ...       10.000000
7                          No Country for Old Men  ...       10.000000
8                      The Fellowship of the Ring  ...       10.000000
9                                   I'm Not There  ...       10.000000
10                               Secondhand Lions  ...        9.666667
11                                  Winter's Bone  ...        9.500000
12                                    Fool's Gold  ...        9.333333
13                                      25th Hour  ...        9.000000
14                             Burn After Reading  ...        9.000000
15                                  Morning Glory  ...        9.000000
16                                       The Help  ...        9.000000
17                              Failure to Launch  ...        8.666667
18                                    Young Adult  ...        8.500000
19                                   Sleepwalking  ...        8.500000
20                                    Black Death  ...        8.500000
21             Bridget Jones - The Edge of Reason  ...        8.250000
22                           Welcome to Mooseport  ...        8.000000
23         Harry Potter and the Half-Blood Prince  ...        8.000000
24                           The Royal Tenenbaums  ...        8.000000
25                                      Fair Game  ...        8.000000
26                                        Monster  ...        8.000000
27                              The Frozen Ground  ...        7.500000
28       Harry Potter and the Prisoner of Azkaban  ...        7.500000
29      Harry Potter and the Order of the Phoenix  ...        7.500000
30                              Two for the Money  ...        7.333333
31                                   A Good Woman  ...        7.333333
32                                   Training Day  ...        7.000000
33                                          Candy  ...        7.000000
34                                         Capote  ...        7.000000
35                                 Shall We Dance  ...        7.000000
36                                     Happy Feet  ...        7.000000
37                                 V for Vendetta  ...        7.000000
38                                 The Two Towers  ...        7.000000
39                                    The Kingdom  ...        6.666667
40                               The Hunger Games  ...        6.500000
41                             World Trade Center  ...        6.500000
42                                         Simone  ...        6.000000
43                              Then She Found Me  ...        6.000000
44  Harry Potter and the Deathly Hallows – Part 1  ...        6.000000
45                         Something's Gotta Give  ...        6.000000
46                                    The Recruit  ...        5.000000

[47 rows x 3 columns]

## OLAP on-line analytical processing
The OLAP extensions in SQL are introduced and applied to aggregated data on multiple levels. These extensions are the CUBE, ROLLUP and GROUPING SETS operators.

In [1]:
--List the number of movies for different genres and release years.
SELECT year_of_release,
       genre,
       count(*)
FROM movies.movies
group by cube (year_of_release, genre)
ORDER BY year_of_release;

    year_of_release                      genre  count
0            2001.0  Science Fiction & Fantasy      2
1            2001.0                       None      6
2            2001.0                     Comedy      2
3            2001.0                      Drama      2
4            2002.0  Science Fiction & Fantasy      2
..              ...                        ...    ...
57              NaN  Art House & International      1
58              NaN         Mystery & Suspense      6
59              NaN                     Comedy     10
60              NaN         Action & Adventure      3
61              NaN  Science Fiction & Fantasy     11

[62 rows x 3 columns]

In [2]:
-- Use the CUBE operator to extract the content of a pivot table from the database. 
-- Create a table with the total number of male and female customers from each country.
SELECT gender,
	   country,
	   count(*)
FROM movies.customers
GROUP BY CUBE (gender, country)
ORDER BY country;

    gender       country  count
0   female       Austria      3
1     male       Austria      1
2     None       Austria      4
3   female       Belgium      3
4     male       Belgium      3
5     None       Belgium      6
6   female       Denmark      4
7     male       Denmark      3
8     None       Denmark      7
9     male        France      8
10    None        France     13
11  female        France      5
12    male  Great Britan      5
13  female  Great Britan      5
14    None  Great Britan     10
15    male       Hungary      6
16  female       Hungary      5
17    None       Hungary     11
18    male         Italy     13
19    None         Italy     27
20  female         Italy     14
21    None        Poland     13
22  female        Poland      4
23    male        Poland      9
24  female      Slovenia      7
25    male      Slovenia      4
26    None      Slovenia     11
27  female         Spain     10
28    male         Spain      6
29    None         Spain     16
30    male           USA      2
31  female           USA      2
32    None           USA      4
33    male          None     60
34  female          None     62
35    None          None    122

### ROLLUP returns aggregates for a hierarchy of value. 
When we go from aggregation for each country and genre to aggregation for each country alone, and then to the total number of movie rentals, we drop a level of detail at each step. These levels of aggregation the order of the column names in the ROLLUP clause is important.

In [7]:
--in each step, one level detail is dropped
SELECT gender,
	   country,
	   count(*)
FROM movies.customers
GROUP BY Rollup (gender, country)
ORDER BY country, gender;

    gender       country  count
0   female       Austria      3
1     male       Austria      1
2   female       Belgium      3
3     male       Belgium      3
4   female       Denmark      4
5     male       Denmark      3
6   female        France      5
7     male        France      8
8   female  Great Britan      5
9     male  Great Britan      5
10  female       Hungary      5
11    male       Hungary      6
12  female         Italy     14
13    male         Italy     13
14  female        Poland      4
15    male        Poland      9
16  female      Slovenia      7
17    male      Slovenia      4
18  female         Spain     10
19    male         Spain      6
20  female           USA      2
21    male           USA      2
22  female          None     62
23    male          None     60
24    None          None    122

### Queries with GROUPING SETS

In [4]:
SELECT gender,
	   country,
	   count(*)
FROM movies.customers
GROUP BY grouping sets ((gender, country), (gender), (country), ())
-- equal to GROUP BY CUBE (gender, country)

    gender       country  count
0     None          None    122
1   female       Austria      3
2   female         Spain     10
3     male      Slovenia      4
4   female        Poland      4
5     male  Great Britan      5
6   female        France      5
7   female       Hungary      5
8     male       Austria      1
9     male        Poland      9
10    male       Belgium      3
11    male       Hungary      6
12    male        France      8
13  female       Belgium      3
14    male         Spain      6
15    male         Italy     13
16  female  Great Britan      5
17  female         Italy     14
18  female      Slovenia      7
19    male           USA      2
20    male       Denmark      3
21  female       Denmark      4
22  female           USA      2
23  female          None     62
24    male          None     60
25    None         Spain     16
26    None  Great Britan     10
27    None       Austria      4
28    None        Poland     13
29    None         Italy     27
30    None      Slovenia     11
31    None       Hungary     11
32    None       Denmark      7
33    None       Belgium      6
34    None           USA      4
35    None        France     13

In [5]:
SELECT 
  r.customer_id, 
  m.genre, 
  AVG(r.rating), 
  COUNT(*)
FROM movies.renting AS r
LEFT JOIN movies.movies AS m
ON r.movie_id = m.movie_id
GROUP BY GROUPING SETS ((r.customer_id, m.genre), (r.customer_id), ()) 
--GROUPING SETS does not include (genre) (i.e. does not include aggregation for each genre).

     customer_id                      genre       avg  count
0            NaN                       None  7.939024    578
1           11.0  Science Fiction & Fantasy  6.000000      1
2          114.0                      Drama  8.666667      7
3          106.0                  Animation       NaN      1
4           33.0                      Drama  6.000000      2
..           ...                        ...       ...    ...
415         55.0                       None       NaN      5
416         27.0                       None  8.500000      3
417         23.0                       None  8.000000      5
418         58.0                       None  8.000000      5
419          8.0                       None  9.250000      8

[420 rows x 4 columns]

### MovieNow considers investing money in new movies. It is more expensive to add recent movies than it is to add older ones. 
- So the first step in our data analysis is to investigate the preference of customers for movies depending on the year the movie was released. 
- We will produce a table to see if customers give better ratings to recent movies, and if there is a difference across countries.

In [8]:
select 
c.country,
m.year_of_release,
count(*) As n_rentals,
count(distinct r.movie_id) As n_movies,
avg(r.rating) As avg_rating
FROM movies.renting AS r
left join movies.movies As m
on r.movie_id = m.movie_id
left join movies.customers As c
on r.customer_id = c.customer_id
where r.movie_id in (
    select movie_id 
    from movies.renting
    group by movie_id
    having count(rating) >=5)
and c.country is not null
group by rollup(country, year_of_release)
order by country, year_of_release

     country  year_of_release  n_rentals  n_movies  avg_rating
0    Austria           2002.0          1         1    7.000000
1    Austria           2004.0          1         1         NaN
2    Austria           2007.0          1         1    6.000000
3    Austria           2011.0          1         1    6.000000
4    Austria              NaN          4         4    6.333333
..       ...              ...        ...       ...         ...
109      USA           2007.0          1         1   10.000000
110      USA           2010.0          2         2    8.500000
111      USA           2011.0          1         1    6.000000
112      USA              NaN          7         7    8.333333
113     None              NaN        347        35    8.004464

[114 rows x 5 columns]

## There is no clear perference for more recent movies over older ones.
### Let's look into customer preference for genres

In [12]:
select
m.genre,
count(*) As n_rentals,
count(distinct r.movie_id) As n_movies,
avg(r.rating) As avg_rating
FROM movies.renting AS r
left join movies.movies As m
on r.movie_id = m.movie_id
left join movies.customers As c
on r.customer_id = c.customer_id
where r.movie_id in (
    select movie_id 
    from movies.renting
    group by movie_id
    having count(rating) >=3)
and c.country is not null
group by m.genre
order by avg_rating DESC

                       genre  n_rentals  n_movies  avg_rating
0         Action & Adventure         11         2    8.888889
1                      Other         20         2    8.800000
2  Art House & International          8         1    8.666667
3  Science Fiction & Fantasy         89        10    8.183333
4                      Drama        311        34    7.866667
5                     Comedy         37         5    7.791667
6                  Animation         11         2    7.666667
7         Mystery & Suspense         26         3    6.928571